.skills_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillbox {
  box-sizing: border-box;
  width: 25%;
  margin: 50px 20px;
}

.skillbox p {
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-family: bold;
  letter-spacing: 1px;
}

.skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #CAB387;
  border-radius: 2px;
}

#C_bar,
#java_bar,
#html_bar,
#python_bar,
#ps_bar {
  background-color: #CAB387;
  width: 1%;
  height: 10px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: red;
  border: 4px solid red;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: -80px;
}

.right {
  left: 50%;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 20px;
  width: auto;
  background-color: #EF6C33;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}